.switch {
  @apply w-[47px] h-[32px]  inline-flex items-center cursor-pointer rounded-[20px] border-solid border-[1px] border-gray relative;
}

.switch-input {
  @apply hidden absolute;
}

.switch-slider {
  @apply rounded-[10px];
  transition: background-color 0.3s;
}

.switch-checked .switch-slider {
  @apply bg-primary w-[24px] h-[24px] rounded-[14px] absolute right-[4px];
}

.switch-unchecked .switch-slider {
  @apply bg-primary w-[24px] h-[24px] rounded-[14px] absolute left-[4px];
}

.switch-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
